/* Stile für den Body oder andere HTML-Elemente außerhalb der VR-Szene */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  }
  
  /* Beispielstil für Überschriften */
  h1 {
	color: #333;
	text-align: center;
  }
  
  /* Beispielstil für eine Schaltfläche */
  .button {
	display: block;
	width: 150px;
	margin: 20px auto;
	padding: 10px;
	text-align: center;
	background-color: #832598;
	color: white;
	text-decoration: none;
	border-radius: 5px;
  }
  
  .button:hover {
	background-color: #410a57;
  }
  